<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form id="party-general-info-form-edit" ata-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row text-center">
          <legend class="text-primary">General Party/Company Info</legend>
        </div>
        <div class="form-group">
          <label for="party-name">Name <i class="fa fa-code"></i></label>
          <input minlength="3" name="party-name" data-fv-notempty class="form-control" type="text" id="party-name-edit" placeholder="Party Name..">
        </div>
        <br>
          <div class="form-group">
          <label for="party-description">Description of Company <i class="fa fa-pencil"></i></label>
          <textarea class="form-control" name="party-description" minlength="20" data-fv-notempty id="party-description-edit" rows="3" placeholder="Party Description.."></textarea>
        </div>
        <br>
        <div class="form-group">
          <label for="party-profile-picture">Party Profile Picture <i class="fa fa-camera-retro"></i></label>
          <input type="file" name="party-profile" id="party-profile-picture-edit" data-fv-notempty>
        </div>
      </form>
      <form id="party-contact-info-form-edit" ata-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row text-center">
          <legend class="text-primary">Contact Information</legend>
        </div>
        <div class="form-group">
          <label for="party-email">Email Address <i class="fa fa-envelope"></i></label>
          <input type="email" name="party-email" class="form-control" id="party-email-edit" data-fv-notempty data-fv-emailaddress-message="The value is not a valid email address" placeholder="Party's Email Address">
        </div>
        <br>
        <div class="form-group">
          <label for="party-phone-number">Phone Number <i class="fa fa-phone"></i></label>
          <input type="phone_number" name="party-phone" data-fv-notempty data-fv-regexp="true" data-fv-regexp-message="Not a valid phone number" data-fv-regexp-regexp="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" class="form-control" id="party-phone-number-edit" placeholder="Party's Phone Number..">
        </div>
        <br>
        <div class="form-group">
          <label for="party-mailing-address">Mailing Address <i class="fa fa-location-arrow"></i></label>
          <input type="text" name="party-mailing-address" data-fv-notempty class="form-control" id="party-mailing-address-edit" placeholder="Party's Mailing Address..">
        </div>
        <br>
        <div class="form-group">
          <label for="party-owner">Party's Owner Name <i class="fa fa-user"></i></label>
          <input type="text" name="party-owner-name" data-fv-notempty class="form-control" id="party-owner-edit" placeholder="Party's Owner Name..">
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <form id="edit-user-data-form" class="form-horizontal" ata-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row text-center">
          <legend class="text-primary">User Information</legend>
        </div>
        <div class="form-group">
          <label for="edit-user-displayname" class="control-label">Display Name <i class="fa fa-user"></i></label>
          <input minlength="3" data-fv-notempty name="user-display-name" data-fv-notempty type="text" class="form-control" id="edit-user-displayname">
        </div>
        <div class="form-group">
          <label for="edit-user-username" class="control-label">UserName <i class="fa fa-user-secret"></i></label>
          <input minlength="3" data-fv-notempty name="username-edit" data-fv-notempty type="text" class="form-control" id="edit-user-username">
        </div>
        <div class="form-group">
          <label for="edit-user-email" class="control-label">Email <i class="fa fa-envelope-o"></i></label>
          <input data-fv-notempty name="user-email-edit" data-fv-emailaddress-message="The value is not a valid email address" type="email" class="form-control" id="edit-user-email">
        </div>
        <div class="form-group">
          <label class=" control-label" for="edit-user-picture">Profile Picture</label>
          <div class="">
            <input type="file" id="edit-user-picture">
          </div>
        </div>
      </form>
      <form id='party-social-media-form-edit' class="form-horizontal" ata-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row text-center">
          <legend class="text-primary">Social Media</legend>
        </div>
        <div class="form-group">
          <label for="party-instagram">Instagram <i class="fa fa-instagram"></i></label>
          <input type="text_field" class="form-control" id="party-instagram-edit" placeholder="Instagram Username">
        </div>
        <br>
        <div class="form-group">
          <label for="party-facebook">Facebook <i class="fa fa-facebook-official"></i></label>
          <input type="text_field" name="band-facebook" data-fv-regexp="true" data-fv-regexp-message="Not a valid Facebook URL" data-fv-regexp-regexp="(?:https?:\/\/)?(?:www\.)?facebook\.com\/(?:(?:\w)*#!\/)?(?:pages\/)?(?:[\w\-]*\/)*?(\/)?([^/?]*)" pattern="/^(https?:\/\/){0,1}(www\.){0,1}facebook\.com/" class="form-control" id="party-facebook-edit" placeholder="Use direct link to facebook page, ie: 'https://www.facebook.com/TheBlackKeys' ">
        </div>
        <br>
        <div class="form-group">
          <label for="party-twitter">Twitter <i class="fa fa-twitter"></i></label>
          <input type="text_field" class="form-control" id="party-twitter-edit" placeholder="Twitter Username with no '@'">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <button data-toggle="modal" data-target="#changePasswordModal" class="btn btn-warning">Change Password</button>
          <button id="update-user-data-btn" class="btn btn-info">Update User</button>
          <button id="edit-party" class="btn btn-success">Update Company</button>
        </div>
      </div>
    </div>
  </div>
</div>
