<div class="tab-content">
  <div id="simple-search-div" role="tabpanel" class="tab-pane row text-center">
    <div id="simple-search">
      <h1 style="color: white;">Search for a company by name</h1>
      <br>
      <form name="search">
        <label class="search-box">
          <input type="text" id="party-simple-search-bar"/>
          <span></span>
        </label>
      </form>
    </div>
  </div>

  <div id="advanced-search-div" role="tabpanel" class="tab-pane row">
    <div class="results">

    </div>
    <div id="advanced-search-well">
      <div class="text-center">
        <h1 style="color: white;">Advanced Company Search</h1>
        <div id="advanced-search-btn">
          <button class="btn btn-lg btn-default" id="advanced-party-search-btn" type="button" name="button">Search!</button>
        </div>
      </div>
      <br>
      <form id="party-search-form">
        <div class="form-group col-md-8">
          <label for="company-name-asearch">Company Name</label>
          <input type="text" class="form-control" id="company-name-asearch">
        </div>
        <div class="form-group col-md-4">
          <label for="miles-away">Within how many miles?</label>
          <select class="form-control" id="miles-away">
            <% (1..100).each do |i| %>
               <option><%=i%></option>
            <% end %>
          </select>
        </div>
        <!-- <div class="form-group col-md-8">
          <label for="company-owner-asearch">Owner Name</label>
          <input type="text" class="form-control" id="company-owner-asearch" >
        </div> -->
        <br>
      </form>
    </div>
  </div>
</div>

<div class="row col-md-10 col-md-offset-1" id="search-buttons">
  <div class="btn-group btn-group-justified" role="tablist" aria-label="...">
    <div class="btn-group" role="group">
      <a href="#simple-search-div" role="tab" data-toggle="tab" type="button" id="simple-search-tab" class="btn btn-default"><h4>Simple Search</h4></a>
    </div>
    <div class="btn-group" role="group">
      <a href="#advanced-search-div" role="tab" data-toggle="tab" type="button" id="advanced-search-tab" class="btn btn-default"><h4>Advanced Search</h4></a>
    </div>
  </div>
</div>
