<% if @current_user.entity === nil %>
  <div class="container">
    <div class="row text-center">
      <h1>You need to <a href="#" data-toggle="modal" data-target="#createPartyModal">create your Company</a>!</h1>
    </div>
    <div class="row text-center">
      <%= image_tag('logo.png') %>
    </div>
    <div class="row text-center">
      <h2>Or, click the search option to look through some Bands</h2>
      <br>
      <a href="/bands/search"><i class="fa fa-search fa-4x">Bands</i></a>
    </div>
  </div>
<% else %>
<div class="container">
  <div class="row">
    <h1>Dashboard for <%= @current_user.entity.name %></h1>
  </div>
</div>
<% end %>
