<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">noizy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#aboutNoizy">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Overview</a>
                </li>
                <li>
                    <a class="page-scroll" href="#map">

                    </a>
                </li>
                <% unless logged_in? %>
                <li>
                    <a class="page-scroll" href="/landing">Login/Signup</a>
                </li>
                <% else %>
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container" id="about-layout">
        <div class="row">
            <div class="col-md-4 col-md-offset-7 col-xs-12">
                <div class="intro-text">
                    <div class="intro-heading">We're Noizy.</div>
                    <div class="intro-lead-in">We're here to take the hours out of booking your entertainment.</div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Noizy Section -->
<section id="aboutNoizy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Noizy</h2>
                <h3 class="section-subheading text-muted">Who do we think we are?</h3>
                <h3 class="section-subheading text-muted">At this point, I don't think I know enough about this app to write content. I have no idea what to do with this section yet. We'll figure it out.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x about-icons"></i>
                    <i class="fa fa-search fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="aboutNoizy-heading">Search</h4>
                <p class="text-muted">Gluten-free Neutra mixtape keytar, actually four loko Williamsburg Bushwick swag. Portland brunch banjo raw denim. IPhone Blue Bottle slow-carb authentic sustainable asymmetrical. Listicle selvage slow-carb, Marfa fixie biodiesel wayfarers Shoreditch Pitchfork single-origin coffee jean shorts. Synth fixie leggings XOXO +1 listicle hoodie drinking vinegar. Church-key kale chips flannel +1. Meditation fanny pack Helvetica Tumblr taxidermy, aesthetic Wes Anderson hella before they sold out sartorial banh mi actually selvage High Life vinyl.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x about-icons"></i>
                    <i class="fa fa-calendar-plus-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="aboutNoizy-heading">Book</h4>
                <p class="text-muted">Gluten-free Neutra mixtape keytar, actually four loko Williamsburg Bushwick swag. Portland brunch banjo raw denim. IPhone Blue Bottle slow-carb authentic sustainable asymmetrical. Listicle selvage slow-carb, Marfa fixie biodiesel wayfarers Shoreditch Pitchfork single-origin coffee jean shorts. Synth fixie leggings XOXO +1 listicle hoodie drinking vinegar. Church-key kale chips flannel +1. Meditation fanny pack Helvetica Tumblr taxidermy, aesthetic Wes Anderson hella before they sold out sartorial banh mi actually selvage High Life vinyl.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x about-icons"></i>
                    <i class="fa fa-music fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="aboutNoizy-heading">Enjoy</h4>
                <p class="text-muted">Gluten-free Neutra mixtape keytar, actually four loko Williamsburg Bushwick swag. Portland brunch banjo raw denim. IPhone Blue Bottle slow-carb authentic sustainable asymmetrical. Listicle selvage slow-carb, Marfa fixie biodiesel wayfarers Shoreditch Pitchfork single-origin coffee jean shorts. Synth fixie leggings XOXO +1 listicle hoodie drinking vinegar. Church-key kale chips flannel +1. Meditation fanny pack Helvetica Tumblr taxidermy, aesthetic Wes Anderson hella before they sold out sartorial banh mi actually selvage High Life vinyl.</p>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Let Us Handle The Logistics.</h2>
                <h3 class="section-subheading text-muted">Take the hassle out of booking your entertainment</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-search fa-stack-2x fa-inverse magnifying-glass-icon"></i>
                          </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Search</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Gluten-free Neutra mixtape keytar, actually four loko Williamsburg Bushwick swag. Portland brunch banjo raw denim. IPhone Blue Bottle slow-carb authentic sustainable asymmetrical. Listicle selvage slow-carb, Marfa fixie biodiesel wayfarers Shoreditch Pitchfork single-origin coffee jean shorts. Synth fixie leggings XOXO +1 listicle hoodie drinking vinegar.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-calendar-plus-o fa-stack-2x fa-inverse" style="padding-left: 4px;"></i>
                          </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Book</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Gluten-free Neutra mixtape keytar, actually four loko Williamsburg Bushwick swag. Portland brunch banjo raw denim. IPhone Blue Bottle slow-carb authentic sustainable asymmetrical. Listicle selvage slow-carb, Marfa fixie biodiesel wayfarers Shoreditch Pitchfork single-origin coffee jean shorts. Synth fixie leggings XOXO +1 listicle hoodie drinking vinegar.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                          <span class="fa-stack fa-4x">
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-music fa-stack-2x fa-inverse" style="padding-left: 2px;"></i>
                          </span>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Enjoy</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Gluten-free Neutra mixtape keytar, actually four loko Williamsburg Bushwick swag. Portland brunch banjo raw denim. IPhone Blue Bottle slow-carb authentic sustainable asymmetrical. Listicle selvage slow-carb, Marfa fixie biodiesel wayfarers Shoreditch Pitchfork single-origin coffee jean shorts. Synth fixie leggings XOXO +1 listicle hoodie drinking vinegar.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Map Section -->
<!--Leaflet.js-->
<section id="map" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Where's Your Next Gig?</h2>
                <h3 class="section-subheading text-muted">Check out all of our registered venues</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 map">
                <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/ccromar.n2jbcea6/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoiY2Nyb21hciIsImEiOiIzYjQ1YWVhNjNlMDJmNTdiZTAzZDBiZTU0MjNhNzdhNiJ9.imkir6Rd7CyXocYi5SJ4MQ'></iframe>
            </div>
        </div>
    </div>
</section>
<!--Begin Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Ubiquitous, LLC, 2015</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
              <a href="https://www.braintreegateway.com/merchants/YOUR_MERCHANT_ID/verified" target="_blank">
                <img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png" width="280px" height ="44px" border="0"/>
              </a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
  $(function(){
    $(window).scroll(function(){
        if ($(this).scrollTop() > 300){
            $('.navbar-default').addClass('navbar-shrink');
        }
        else{
            $('.navbar-default').removeClass('navbar-shrink');
        }
    });
  });

</script>
