<script type="text/x-handlebars-template" id="user-parties">
  <li class="list-group-item">{{name}}</li>
</script>

<script type="text/x-handlebars-template" id="user-bands">
  <li class="list-group-item">{{name}}</li>
</script>

<script type="text/x-handlebars-template" id="user-title">
  <h1>{{username}}'s Dashboard</h1>
</script>

<script type="text/x-handlebars-template" id="user-data">
  <h5>Username: <span class="text-info">{{username}}</span></h5>
  <h5>Display Name: <span class="text-info">{{display_name}}</span></h5>
  <h5>Email: <span class="text-info">{{email}}</span></h5>
  <p id="user-prof-btns">
    <a role="button" data-toggle="modal" data-target="#userEditModal" class="btn btn-info" href="#">Edit Information</a>
    <a role="button" data-toggle="modal" data-target="#changePasswordModal" class="btn btn-info" href="#">Change Password</a>
  </p>
</script>
