<% entities = current_user.entities %>
<% if entities.length > 0 %>
  <li class="dropdown">
    <%= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
      <% if current_entity %>
        Viewing site as: <%= current_entity.name %>
      <% else %>
        View site as a party or band
      <% end %>
      <span class="caret"></span>
    <% end %>
    <ul class="dropdown-menu">
      <% entities.each do |entity| %>
        <li>
          <%= link_to entity.name, entity_switch_path(entity), method: :post %>
        </li>
      <% end %>
    </ul>
  </li>
  <% if current_entity %>
    <li>
      <%= link_to "Stop viewing as #{current_entity.type}", entity_cancel_view_path, method: :delete %>
    </li>
  <% end %>
<% end %>
