<section id="map" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Map Address for Event</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 map">
                <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/ccromar.n2jbcea6/attribution,zoompan,geocoder,share.html?access_token=pk.eyJ1IjoiY2Nyb21hciIsImEiOiIzYjQ1YWVhNjNlMDJmNTdiZTAzZDBiZTU0MjNhNzdhNiJ9.imkir6Rd7CyXocYi5SJ4MQ'></iframe>
            </div>
        </div>
    </div>
</section>
