<div class="row">
  <div id="status-of-invited" class=" well col-md-12">
    <span class="center">
    </span>
    <% if @ejs.any? %>
      <% @ejs.uniq.each do |ej| %>
        <div class="list-group-item col-md-3">
          <h4 class="list-group-item-heading"> <%= link_to ej.entity.name, ej.entity %></h4>
          <p class="list-group-item-text"><%= ej.status %></p>
        </div>
      <% end %>
    <% else %>
      No Joiners. Something is probably wrong is if you see this. Refresh your page
    <% end %>
  </div>
</div>
