<div class="well selected-event-bands">
  <div id="header">
    <h5>These Bands Will be invited:</h5>
  </div>
  <div class="list-group" id="bands-to-invite">

  </div>
  <div id="submit-btns" >
    <button type="button" id="add-band-to-event" class="btn btn-primary">Add Band(s)</button>
  </div>
</div>
