<div class="container">
  <% if current_entity && current_entity.type == 'Party' %>
    <%= render 'events/partyeventpage' %>
  <% else %>
    <%= render 'events/regulareventpage' %>
  <% end %>
</div>
