<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" id="band-edit-form" ta-fv-framework="bootstrap"
      data-fv-icon-valid="glyphicon glyphicon-ok"
      data-fv-icon-invalid="glyphicon glyphicon-remove"
      data-fv-icon-validating="glyphicon glyphicon-refresh">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="edit-band-picture">Profile Picture</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="file" id="edit-band-picture">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-name" class="col-sm-2 control-label">Band Name</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input minlength="3" name="band-name-edit" data-fv-notempty type="text" class="form-control" id="edit-band-name">
        </div>
      </div>
      <div class="form-group">
        <label for="band-description-edit" class="col-sm-2 control-label">Short Descrption</label>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <textarea name="band-description-edit" minlength="20" data-fv-notempty type="text" class="form-control" id="edit-band-description">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-email" class="col-sm-2 control-label">Email</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input data-fv-notempty data-fv-emailaddress-message="The value is not a valid email address" name="band-edit-email" type="email" class="form-control" id="edit-band-email">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-twitter" class="col-sm-2 control-label">Twitter</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="text" class="form-control" id="edit-band-twitter">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-instagram" class="col-sm-2 control-label">Instagram</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input name="band-instagram-edit" type="text" class="form-control" id="edit-band-instagram">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-facebook" class="col-sm-2 control-label">Facebook</label>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <input data-fv-notempty="true" name="band-facebook-edit" data-fv-regexp="true" data-fv-regexp-message="Not a valid Facebook URL" data-fv-regexp-regexp="(?:https?:\/\/)?(?:www\.)?facebook\.com\/(?:(?:\w)*#!\/)?(?:pages\/)?(?:[\w\-]*\/)*?(\/)?([^/?]*)" type="text" class="form-control" id="edit-band-facebook">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-genre" class="col-sm-2 control-label">Genre</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input name="band-genre-edit" data-fv-notempty="true" type="text" class="form-control" id="edit-band-genre">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-phone-number" class="col-sm-2 control-label">Phone Number</label>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <input data-fv-notempty name="band-phone" data-fv-regexp="true" data-fv-regexp-message="Not a valid phone number" data-fv-regexp-regexp="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" type="number" class="form-control" id="edit-band-phone-number">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-youtube" class="col-sm-2 control-label">Youtube</label>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <input data-fv-notempty="true" name="band-youtube" data-fv-regexp="true" data-fv-regexp-message="Not a valid YouTube URL" data-fv-regexp-regexp="^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$" type="text" class="form-control" id="edit-band-youtube">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-band-address" class="col-sm-2 control-label">Address</label>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <input data-fv-notempty name="band-mailing-address" type="text" class="form-control" id="edit-band-address">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="edit-band-sample-1">Sample Audio 1</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="file" id="edit-band-sample-1">
        </div>
        <p class="help-block">Must be an MP3</p>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="edit-band-sample-2">Sample Audio 2</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="file" id="edit-band-sample-2">
        </div>
        <p class="help-block">Must be an MP3</p>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" id="update-band-btn" class="btn btn-default">Update Band</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-6">
    <form id="edit-user-data-form" class="form-horizontal" ata-fv-framework="bootstrap"
      data-fv-icon-valid="glyphicon glyphicon-ok"
      data-fv-icon-invalid="glyphicon glyphicon-remove"
      data-fv-icon-validating="glyphicon glyphicon-refresh">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="edit-user-picture">Profile Picture</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input type="file" id="edit-user-picture">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-user-displayname" class="col-sm-2 control-label">Display Name</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input minlength="3" data-fv-notempty name="user-display-name" data-fv-notempty type="text" class="form-control" id="edit-user-displayname">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-user-username" class="col-sm-2 control-label">UserName</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input minlength="3" data-fv-notempty name="username-edit" data-fv-notempty type="text" class="form-control" id="edit-user-username">
        </div>
      </div>
      <div class="form-group">
        <label for="edit-user-email" class="col-sm-2 control-label">Email</label>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <input data-fv-notempty name="user-email-edit" data-fv-emailaddress-message="The value is not a valid email address" type="email" class="form-control" id="edit-user-email">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button data-toggle="modal" data-target="#changePasswordModal" class="btn btn-default">Change Password</button>
          <button id="update-user-data-btn" class="btn btn-default">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
