<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form id="band-general-info-edit" ta-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row text-center">
          <legend class="text-primary">General Band Info</legend>
        </div>
        <div class="form-group">
          <label for="edit-band-name" class="control-label">Band Name</label>
          <div >
            <input minlength="3" name="band-name-edit" data-fv-notempty type="text" class="form-control" id="edit-band-name">
          </div>
        </div>
        <div class="form-group">
          <label for="band-description-edit" class=" control-label">Short Descrption</label>
          <textarea name="band-description-edit" minlength="20" data-fv-notempty type="text" class="form-control" id="edit-band-description">
          </textarea>
        </div>
        <div class="form-group">
          <label class=" control-label" for="edit-band-picture">Profile Picture</label>
          <div class="form-group">
            <input type="file" id="edit-band-picture">
          </div>
        </div>
      </form>

      <form id="band-contact-info-edit" ta-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row text-center">
          <legend class="text-primary">Band Contact Info</legend>
        </div>
      <div class="form-group">
          <label for="edit-band-email" class=" control-label">Email</label>
          <div >
            <input data-fv-notempty data-fv-emailaddress-message="The value is not a valid email address" name="band-edit-email" type="email" class="form-control" id="edit-band-email">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-band-genre" class=" control-label">Genre</label>
          <div >
            <input name="band-genre-edit" data-fv-notempty="true" type="text" class="form-control" id="edit-band-genre">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-band-phone-number" class=" control-label">Phone Number</label>
          <input data-fv-notempty name="band-phone" data-fv-regexp="true" data-fv-regexp-message="Not a valid phone number" data-fv-regexp-regexp="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$" type="number" class="form-control" id="edit-band-phone-number">
        </div>
        <div class="form-group">
          <label for="edit-band-youtube" class=" control-label">Youtube</label>
          <input data-fv-notempty="true" name="band-youtube" data-fv-regexp="true" data-fv-regexp-message="Not a valid YouTube URL" data-fv-regexp-regexp="^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$" type="text" class="form-control" id="edit-band-youtube">
        </div>
        <div class="form-group">
          <label for="edit-band-address" class=" control-label">Address</label>
          <input data-fv-notempty name="band-mailing-address" type="text" class="form-control" id="edit-band-address">
        </div>
        <div class="form-group">
          <label class=" control-label" for="edit-band-sample-1">Sample Audio 1</label>
          <div >
            <input type="file" id="edit-band-sample-1">
          </div>
          <p class="help-block">Must be an MP3</p>
        </div>
        <div class="form-group">
          <label class=" control-label" for="edit-band-sample-2">Sample Audio 2</label>
          <div >
            <input type="file" id="edit-band-sample-2">
          </div>
          <p class="help-block">Must be an MP3</p>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <form id="edit-user-data-form" ata-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="row text-center">
          <legend class="text-primary">User Information</legend>
        </div>
        <div class="form-group">
          <label for="edit-user-displayname" class=" control-label">Display Name</label>
          <div >
            <input minlength="3" data-fv-notempty name="user-display-name" data-fv-notempty type="text" class="form-control" id="edit-user-displayname">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-user-username" class=" control-label">UserName</label>
          <div >
            <input minlength="3" data-fv-notempty name="username-edit" data-fv-notempty type="text" class="form-control" id="edit-user-username">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-user-email" class=" control-label">Email</label>
          <div >
            <input data-fv-notempty name="user-email-edit" data-fv-emailaddress-message="The value is not a valid email address" type="email" class="form-control" id="edit-user-email">
          </div>
        </div>
        <div class="form-group">
          <label class=" control-label" for="edit-user-picture">Profile Picture</label>
          <div >
            <input type="file" id="edit-user-picture">
          </div>
        </div>
      </form>

      <form id="band-social-media-edit" ata-fv-framework="bootstrap"
        data-fv-icon-valid="glyphicon glyphicon-ok"
        data-fv-icon-invalid="glyphicon glyphicon-remove"
        data-fv-icon-validating="glyphicon glyphicon-refresh">
        <div class="form-group">
          <div class="row text-center">
            <legend class="text-primary">Social Media</legend>
          </div>
          <label for="edit-band-twitter" class=" control-label">Twitter</label>
          <div >
            <input type="text" class="form-control" id="edit-band-twitter">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-band-instagram" class=" control-label">Instagram</label>
          <div >
            <input name="band-instagram-edit" type="text" class="form-control" id="edit-band-instagram">
          </div>
        </div>
        <div class="form-group">
          <label for="edit-band-facebook" class=" control-label">Facebook</label>
            <input data-fv-notempty="true" name="band-facebook-edit" data-fv-regexp="true" data-fv-regexp-message="Not a valid Facebook URL" data-fv-regexp-regexp="(?:https?:\/\/)?(?:www\.)?facebook\.com\/(?:(?:\w)*#!\/)?(?:pages\/)?(?:[\w\-]*\/)*?(\/)?([^/?]*)" type="text" class="form-control" id="edit-band-facebook">
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <button data-toggle="modal" data-target="#changePasswordModal" class="btn btn-warning">Change Password</button>
          <button id="update-user-data-btn" class="btn btn-info">Update User</button>
          <button type="submit" id="update-band-btn" class="btn btn-success">Update Band</button>
        </div>
      </div>
    </div>
  </div>
</div>
