<script type="text/x-handlebars-template" id="band-social-media">
  <div class="row animated bounceInLeft">
    <h2>Social Media</h2>
  </div>
  <div class="text-center animated bounceInLeft">
    <a href="{{facebook}}" target="_blank"><i class="fa fa-facebook-official fa-4x"></i></a>
    <a href="https://twitter.com/{{twitter}}" target="_blank"><i class="fa fa-twitter fa-4x"></i></a>
    <a href="https://instagram.com/{{instagram}}" target="_blank"><i class="fa fa-instagram fa-4x"></i></a>
  </div>
</script>


<script type="text/x-handlebars-template" id="band-contact-info">
  <blockquote class="animated bounceInRight">
    <h5>{{description}}</h5>
    <small>{{name}}</small>
  </blockquote>
</script>


<script type="text/x-handlebars-template" id="band-name">
  <h1 class="text-primary animated bounceInDown">{{name}}</h1>
</script>

<script type="text/x-handlebars-template" id="band-contact-data">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6">
      <h2 class="text-primary"  >Information</h2>
      <h3>Address: {{address}}</h3>
      <h3>Phone Number: {{phone_number}}</h3>
      <h3>Email: {{email}}</h3>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6">
      <h2 class="text-primary" >Music</h2>
      <h3>Genre: {{genre}}</h3>
      <h3>Audio Sample 1: {{audio_file_1}}</h3>
      <h3>Audio Sample 2: {{audio_file_2}}</h3>
    </div>
  </div>
</script>

<script type="text/x-handlebars-template" id="band-youtube-video">
  <div class="text-center">
    <iframe width="560" height="315" src="{{youtube_embed_link}}" frameborder="0" allowfullscreen></iframe>
  </div>
</script>

<script type="text/x-handlebars-template" id="band-reviews">
  <h1>Band Reviews Go Here</h1>
</script>
