<script type="text/x-handlebars-template" id="band-social-media">
  <div class="animated bounceInLeft">
    <a href="{{facebook}}" target="_blank"><i class="fa fa-facebook-official fa-2x"></i></a>
    <span class="social-span"></span>
    <a href="https://twitter.com/{{twitter}}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <span class="social-span"></span>
    <a href="https://instagram.com/{{instagram}}" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
  </div>
</script>


<script type="text/x-handlebars-template" id="band-description">
  <blockquote class="animated bounceInRight">
    <h5>{{description}}</h5>
    <small>{{name}}</small>
  </blockquote>
</script>


<script type="text/x-handlebars-template" id="band-name">
  <h1 class="text-primary animated bounceInDown">{{name}}</h1>
</script>

<script type="text/x-handlebars-template" id="band-contact-data">
  <h1 class="text-primary">Contact Information</h1>
  <h4>Genre: {{genre}}</h4  >
  <h4>Address: {{address}}</h4>
  <h4>Phone Number: {{phone_number}}</h4>
  <h4>Email: {{email}}</h4>
</script>

<script type="text/x-handlebars-template" id="band-music-sample">
  <h1 class="text-primary">Sample Music</h1>
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-1 text-center">
    <h4>Audio Clip 1</h4>
    <p>
      {{audio_file_1}}
    </p>
  </div>
  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-md-offset-1 text-center">
    <h4>Audio Clip 2</h4>
    <p>
      {{audio_file_2}}
    </p>
  </div>
</script>


<script type="text/x-handlebars-template" id="band-youtube-video">
  <div class="text-center">
    <iframe width="560" height="315" src="{{youtube_embed_link}}" frameborder="0" allowfullscreen></iframe>
  </div>
</script>

<script type="text/x-handlebars-template" id="band-reviews">
  <h1>Band Reviews Go Here</h1>
  <h1>Band Reviews Go Here</h1>
  <h1>Band Reviews Go Here</h1>
  <h1>Band Reviews Go Here</h1>
  <h1>Band Reviews Go Here</h1>
  <h1>Band Reviews Go Here</h1>
  <h1>Band Reviews Go Here</h1>
</script>
