<div class="container">

  <div class="row" >
    <div class="text-center" id='band-name'></div>
    <img class='fadeIn animated' src="http://www.tache-de-beaute.com/wp-content/uploads/2015/01/tumblr_static_rock-n-roll.jpg" alt="band-display-image" id="band-main-image" />
  </div>

  <div class="row">
    <div class="col-md-3" id='social-media'>

    </div>

    <div class="col-md-9" id='contact-info'>

    </div>
  </div>

  <div class="row">
    <div class="text-center" role="tabpanel">
      <div class="btn-group btn-group-justified" id="band-profile-nav">
        <a href="#band-contact" class="btn btn-default" data-toggle="tab">Contact Information</a>
        <a href="#youtube-video" class="btn btn-default" data-toggle="tab">Youtube Video</a>
        <a href="#reviews" class="btn btn-default" data-toggle="tab">Reviews</a>
      </div>
    </div>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="band-contact">

      </div>

      <div role="tabpanel" class="tab-pane" id="youtube-video">

      </div>

      <div role="tabpanel" class="tab-pane" id="reviews">
        <h1>Reviews</h1>
      </div>
    </div>
  </div>

</div>


<%= render 'scriptstore' %>
