<div class="container">
  <div class="row">
    <div id="band-btn-nav" class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <div class="btn-group-vertical" id="sticky-buttons" role="group" aria-label="...">
        <% if logged_in? && @current_user.entity && @current_user.user_data[:user_entity_type] === 'party' %>
        <a role="button" class="btn btn-default sticky-button" href="#general-info-show">
          <div class="favorite-band-div">

          </div>
        </a>
        <% end %>
        <a role="button" class="btn btn-default sticky-button" href="#contact-info-show"><i class="fa fa-envelope fa-3x"></i></a>
        <a role="button" class="btn btn-default sticky-button" ><i class="fa fa-calendar fa-3x"></i></a>
        <a role="button" class="btn btn-default sticky-button" href="#band-youtube-show"><i class="fa fa-youtube fa-3x"></i></a>
        <a role="button" class="btn btn-default sticky-button" href="#band-music-sample-show"><i class="fa fa-play fa-3x"></i></a>
        <a role="button" class="btn btn-default sticky-button" href="#band-reviews-show"><i class="fa fa-list-ul fa-3x"></i></a>
        <a role="button" class="btn btn-default sticky-button" href="#band-social-media-show"><i class="fa fa-twitter fa-3x"></i></a>
      </div>
    </div>

    <div class="col-xs-10 col-sm-10 col-mid-10 col-lg-10">
      <div id="general-info-show" class="row">
        <div class="text-center" id='band-name'></div>
        <img class='fadeIn animated' src="http://www.tache-de-beaute.com/wp-content/uploads/2015/01/tumblr_static_rock-n-roll.jpg" alt="band-display-image" id="band-main-image" />
        <div id="description">

        </div>
      </div>

      <div id="contact-info-show" class="row text-center band-div">
        <div id='contact-info'>

        </div>
      </div>

      <div id="band-youtube-show" class="row text-center band-div">
        <div id="youtube-video">

        </div>
      </div>

      <div id="band-music-sample-show" class="row text-center band-div">
        <div id="sample-music" class="text-center">

        </div>
      </div>

      <div id="band-reviews-show" class="row text-center band-div">
        <div id="reviews">

        </div>
      </div>

    </div>

  </div>

  <div id="band-social-media-show" class="row text-center band-div">
    <div id='social-media'>

    </div>
  </div>

</div>


<%= render 'scriptstore' %>
