<div class="vegas-container">
  <div class="container-fluid">
    <div class="row">
      <div class="logo-welcome col-md-5 col-md-offset-7">
        <div class="logo-welcome-content">
          <div class="main-text">
            <h1>That Band App</h1>
            <h4>We bring bands and venues together like never before</h4>
            <div class="button-farm">
              <% if logged_in? %>
                <span class="learn-more-button text-center">
                  <%= link_to 'About', about_path, class: 'landing-page-button' %>
                </span>
                <span class="learn-more-button text-center">
                  <%= link_to 'Dashboard', root_path, class: 'landing-page-button' %>
                </span>
              <% else %>
                <span class="learn-more-button text-center">
                  <%= link_to 'About', about_path, class: 'landing-page-button' %>
                </span>
                <span class="learn-more-button text-center">
                  <a id="login" data-toggle="modal" data-target="#login-modal" class='landing-page-button' href="#"> Login </a>
                </span>
                <span class="learn-more-button text-center">
                  <a id="register" class="landing-page-button" data-toggle="modal" data-target="#signup-modal" href="#">Signup</a>
                </span>
              <% end %>
            </div>
          </div>
        </div>
      </div>

<!-- JQuery for fixed button width-->
<script>
$(function() {
    $('.container').vegas({
        slides: [
          { src: '/assets/hands.jpg'},
          { src: '/assets/dj.jpg' },
          { src: '/assets/guitarist.jpg'}
        ]
    });
});
</script>
