// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


[name='sm']{
  background-color: #377593;
  color: #ffffff;
  margin-left: 35px;
  height: 37px;
}

[name='smt']{
  color: #ffffff;
  margin-right: 35px;
  height: 37px;
}
