// Place all the styles related to the bands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#band-main-image {
  height:400px;
  width: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto
}

#band-profile-nav .btn:hover {
  background-color: #2A9FD6;
}
